.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.header {
  display: flex;
  flex-flow: column;
  margin-left: 2rem;
}

.wrapper {
  display: flex;
}
.categories {
  display: flex;
  flex-flow: column;
}
.list {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;

}
