.wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.container {
  display: flex;
  border: 1px solid var(--color-background-lightest);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  line-height: 2;

  height: 100%;
  overflow: hidden;

  cursor: text;
  &:focus-within {
    border: 1px solid var(--color-primary-light);
  }
  &.error {
    border: 1px solid var(--color-danger);
  }
}
.textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  outline: none;
  color: var(--color-main);
  font-family: var(--mono-font);
  font-size: 0.8em;
  resize: vertical;
  line-height: 1.15;
}
.error-field {
  display: block;
  font-size: 1rem;
  margin: 0 1rem;
  color: var(--color-danger-dark);
  min-height: 1.15rem;
}
