.wrapper {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 15px 0;
}
.handle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
  padding: 8px;
  margin: -8px;
  min-height: 34px;
  max-height: 52px;

  &.left {
    margin-right: -2px;
  }
  &.right {
    margin-left: -2px;
  }
}
.dots {
  width: 10px;
  flex-grow: 1;

  border-left: 4px dotted var(--color-secondary);
  border-right: 4px dotted var(--color-secondary);
}
