.panel {
  display: flex;
  align-items: center;
  background-color: var(--color-background-darker);
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid var(--color-background);
}

.avatar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.actions {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-overlay);
  border-radius: 9999px;
}

.user-popup {
  width: 200px !important;
  height: 90px;

  .username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.bell-wiggle {
  animation: bell-wiggle 1s linear infinite;
}

@keyframes bell-wiggle {
  0% { transform: none; }
  10% { transform: rotateZ(10deg); }
  20% { transform: none; }
  30% { transform: rotateZ(-10deg); }
  40% { transform: none; }
  70% { transform: scale(1.25); }
  80% { transform: none; }
}

.notification-popup {
  margin-top: 0.75rem;
  min-height: 90px;
  max-width: 425px;
}
.notification-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.notification {
  background-color: var(--color-background);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  .time {
    color: var(--color-secondary);
    font-size: 0.8rem;
    float: right;
    margin-top: 0.25rem;
    margin-left: 2rem;
  }
}
