.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;

  padding: 8px 12px;
  gap: 8px;

  background-color: #21262d;

  border: 2px solid var(--color-background-lightest);
  border-radius: 0.5rem;
  transition: all 0.1s ease;

  word-wrap: anywhere;
}
.icon {
  display: block;
  flex-shrink: 0;
}
.link {
  color: #c9d1d9;
  padding: 0.375rem;
  border-radius: 0.375rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #b1bac41f;
    transition: all 0.1s ease;
  }
  &:last-child {
    font-weight: bold;
  }
}
