.wrapper {
  flex-grow: 1;
  border-radius: 1rem;
  min-width: 0; // flexbox magic
  min-height: 300px;

  .body-tabs {
    border-width: 1px;
    background-color: var(--color-background);
    border-radius: 1rem;
    height: 100%;
  }
}

.release-list {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
.release-card {
  display: flex;
  flex-flow: column;
  background-color: var(--color-background-dark);
  border-radius: 1rem;
  border: 1px solid var(--color-background-light);
}
.release-title {
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--color-background-light);
}
.release-changelog {
  padding: 1rem;
}

.edit-banner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.banner-alignment-grid {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);

  > button {
    border: none;
    padding: 0.25rem;

    &.active {
      background-color: var(--color-background-lighter);
    }
  }
}
.banner-url-input {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
