.wrapper {
  flex-grow: 1;
  border-radius: 1rem;
  min-height: 300px;

  .body-tabs {
    border-width: 1px;
    background-color: var(--color-background);
    border-radius: 1rem;
    height: 100%;
  }
}

.edit-banner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.banner-alignment-grid {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);

  > button {
    border: none;
    padding: 0.25rem;

    &.active {
      background-color: var(--color-background-lighter);
    }
  }
}
.banner-url-input {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
