.button {
  height: 50px;
  border-radius: 9999px;
  border-width: 1px;
  padding: 0.5rem;
  gap: 1rem;
}
.search {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
.results {
  display: grid;
  grid-template-rows: repeat(5, 34px);
  gap: 0.5rem;
}
.result {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  background-color: var(--color-background);
  border: 1px solid var(--color-background-lighter);
  border-radius: 9999px;
}
.label {
  text-align: center;
  font-size: 1.25rem;
}
