.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin: 0 auto;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.header {
  font-size: 2rem;
  text-align: center;
}
.description {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  gap: 1rem;
  > p {
    text-indent: 1rem;
    text-align: justify;
  }
}
.footnote {
  text-align: right;
  font-size: 0.8rem;
}
