.separator {
  border-radius: 9999px;
  background-color: var(--color-secondary);
  opacity: 0.5;

  &.primary {
    background-color: var(--color-primary);
    opacity: 1;
  }
}
.horizontal {
  width: 100%;
  height: 2px;
  &.thin { height: 1px; }
  &.bold { height: 4px; }
}
.vertical {
  height: 100%;
  width: 2px;
  &.thin { width: 1px; }
  &.bold { width: 4px; }
}
