.window {
  border: 3px solid var(--color-background-lighter);
  border-radius: 0.5rem;
}
.header {
  display: flex;
  align-items: center;
  background-color: var(--color-background-lighter);
  padding: 0.5rem 1rem;
  gap: 1rem;

  .dots {
    display: flex;
    gap: 6px;
    .dot {
      margin-top: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }
  .address-bar {
    flex-grow: 1;
    background-color: var(--color-background-dark);
    border-radius: 1rem;
    padding: 5px 15px;
    font-size: 13px;
  }
  .menu-icon {
    display: flex;
    flex-flow: column;
    gap: 3px;
    .menu-icon-bar {
      background-color: var(--color-secondary-lighter);
      width: 17px;
      height: 3px;
    }
  }
}
.container {
  padding: 1rem;
}
