.container {
  display: flex;
  flex-flow: column nowrap;
  width: 1080px;
  min-width: 1080px;
  max-width: 1080px;
  margin: 0.5rem auto 10rem auto;

  background-color: var(--color-background-dark);
  border-radius: 1rem;
  padding: 0.5rem;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 50%;
  img {
    width: 100%;
  }
  margin: auto;
}
.body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 50vh;
  padding-top: 1rem;
  margin-bottom: 4rem;
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 1rem;

  & > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0.25rem;
  }
}
