.wrapper {
  display: flex;
  gap: 1rem;
  font-family: var(--standard-font) !important;
}
.sidebar {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  background-color: var(--color-background);
  border-radius: 1rem;
}
.main {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background-color: var(--color-background);
  border-radius: 1rem;
}
.central {
  max-width: 700px;
  margin: 2rem auto 5rem;
}
