.icon-button {
  display: inline-grid;
  padding: 0.25rem;
  width: min-content;
  height: min-content;

  background-color: transparent;
  border-radius: 9999px;

  cursor: pointer;
  transition: all 0.1s ease;

  > [role=icon] {
    align-self: center;
    justify-self: center;
    transition: opacity 0.5s ease, scale 0.1s ease;
  }

  &:hover, &:focus-within {
    background-color: var(--color-overlay-4);
    > [role=icon] {
      opacity: 1 !important;
    }
  }
  &:active, &.fake-active {
    background-color: var(--color-overlay-8);
    outline: 1px solid var(--color-overlay-4);
    > [role=icon] {
      scale: 1.25;
    }
  }

  &[disabled], &.disabled {
    &:hover {
      background-color: var(--color-overlay-2);
      > [role=icon] {
        opacity: 0.5 !important;
      }
    }
    &:active {
      background-color: var(--color-overlay-2);
      outline: none;
      > [role=icon] {
        scale: 1;
      }
    }
  }
}
