button.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;

  color: var(--color-white);
  text-shadow: var(--text-shadow);

  border: 2px solid var(--color-success-contrast);

  background-color: var(--color-success-lightest);
  &:hover { background-color: var(--color-success); }
  &:active { background-color: var(--color-success-darker); }

  &.set {
    background-color: var(--color-success-darker);
    &:hover { background-color: var(--color-success); }
    &:active { background-color: var(--color-success-darker); }
  }

}
