.pre {
  background-color: var(--color-background-darker);
  border: 2px solid;
  border-image: url("/frame-3.png") 8 / 4px;
  padding: 8px 12px;

  > code {
    background: none;
    border: none;
    padding: 0;
  }
}
