.badges-container {
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  max-height: calc(5rem + 4px);
  padding: 2px;
}
.badge-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.25rem;
}
.badge-title {
  font-size: 2rem;
  text-align: center;
}
.badge-description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.25rem;

  font-size: 1.2rem;
  text-align: center;
  max-width: 300px;
}
