.wrapper {
  display: inline-flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
}
.container {
  display: inline-flex;
  outline: 1px solid var(--color-background-lightest);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  line-height: 2;

  cursor: text;
  &:focus-within {
    outline: 1px solid var(--color-primary-light);
  }
  &.error {
    outline: 1px solid var(--color-danger);
  }
}
.prefix {
  color: var(--color-secondary-dark);
}
.suffix {
  color: var(--color-secondary-dark);
}
.input {
  flex-grow: 1;
  min-width: 200px;
  padding: 0 0.75rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-main);
  line-height: 2;
}
.error-field {
  display: block;
  font-size: 1rem;
  margin: 0 1rem;
  color: var(--color-danger-dark);
  height: 1.15rem;
}
