.link {
  text-decoration: none;
  cursor: pointer;

  transition: all 0.2s ease;
  color: var(--color-primary-lighter);

  &:hover {
    color: var(--color-primary-dark);
  }

  &.underline {
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    &:hover {
      border-bottom: 1px solid var(--color-primary);
    }
  }
}
