.wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
  border: 1px solid var(--color-background-light);
  border-radius: 1rem;

  &:hover, &:focus-within {
    .header { top: 0; }
  }
}

.banner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}
.header {
  position: absolute;
  height: 80px;
  left: 0; right: 0; top: -80px;
  backdrop-filter: brightness(0.75) blur(4px);
  transition: all 0.5s ease;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.title {
  flex-grow: 1;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: var(--text-shadow);
  color: var(--color-white);
}
