.wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
  border: 1px solid var(--color-background-light);
  border-radius: 1rem;

  &:hover, &:focus-within, &.expanded {
    .header { top: 0; }
  }
}

.banner {
  position: absolute;
  transition: all 0.5s ease;

  &.width-top {
    top: 0;
    width: 100%;
  }
  &.width-middle {
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  &.width-bottom {
    top: 100%;
    width: 100%;
    transform: translateY(-100%);
  }
  &.height-left {
    left: 0;
    height: 100%;
  }
  &.height-center {
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
  }
  &.height-right {
    left: 100%;
    height: 100%;
    transform: translateX(-100%);
  }
  &.stretch {
    width: 100%;
    height: 100%;
  }
}
.header {
  position: absolute;
  height: 80px;
  left: 0; right: 0; top: -80px;
  backdrop-filter: brightness(0.75) blur(4px);
  transition: all 0.5s ease;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 1;
}
.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 2.5rem;
  text-shadow: var(--text-shadow);
  color: var(--color-white);
  overflow: hidden;

  > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.title-input {
  margin-top: 1.15rem;

  input {
    text-shadow: var(--text-shadow);
    color: var(--color-white);
    text-align: center;
    line-height: 1em;
  }
}
