.wrapper {
  min-width: 300px;
  max-width: 350px;
  &.expanded {
    min-width: 332px;
    max-width: 382px;
  }

  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--color-background);
  border-radius: 1rem;
}
.section {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;

  > label {
    margin-left: 1rem;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}
